@import 'mixins';

* {
  padding: 0;
  margin: 0;
  font-family: paralucent-condensed, sans-serif;
}

a{
  color:#018f5f;
}

h2{
  display:table;
  background: -webkit-linear-gradient(-45deg, #1d3b6d, #018f5f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body {
  background-image: url("../img/background.jpg");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

.main-container {
  display:flex;
  flex-direction: column;
  max-width: 1000px;
  background: rgba(255,255,255,0.99);
  margin: 0 auto;
  min-height:100vh;

  header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px #eee solid;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
    }

    .pre-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 10px;

      img {
        height: 65px;
      }

      span {
        font-size: 2rem;
        @include tablet {
          display: none;
        }
      }
    }

    .main-nav {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;

        .lessons-dropdown {
          @include tablet {
            flex-direction: column;
            position: absolute;
            margin-top: 20px;
            margin-left: -13px;
          }
          padding: 15px;
          background: #fafafa;
          border-radius: 5px;
        }

        li {
          margin: 5px;

          &.portal {
            background-image: linear-gradient(135deg, #1d3b6d,#018f5f);
            border-radius: 5px;
            transition: transform 0.2s;
            padding: 10px 0;

            a {
              color: #eee !important;
            }

            &:hover {
              transform: scale(1.05);
            }
          }

          a {
            font-size: 2rem;
            padding: 10px 15px;
            text-decoration: none;
            color: #888;
            @include tablet {
              font-size: 1.1rem;
              transition: color 0.2s;

              &:hover {
                color: #333;
              }
            }
          }
        }
        @include tablet {
          display: flex;
          flex-direction: row;
          padding-bottom: 0;
        }

        .lessons-nav {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.feature-image{
  img{
    width:100%;
  }
}

.page-header{
  background-size:cover;
  background-position: center;
  h1{
    color:white;
    text-align:center;
    padding:30px;
    font-size:3rem;
    font-weight:500;
  }
}

main {
  width:95%;
  margin:30px auto;
  text-align:center;

  .container-contact{
    display:grid;
    grid-template-columns: 1fr;
    h2{
      font-size:1.7rem;
      margin-bottom:5px;
    }
    p{
      margin-bottom:30px;
      font-size:1.3rem;
    }
    @include tablet{
      grid-template-columns: 3fr 2fr;
      grid-gap:30px;
      .map{
        order:-1;
      }
      h2{
        text-align:left
      }
      p{
        text-align:left;
        font-size:1.1rem;
      }
      iframe{
        height:500px;
      }
    }
  }

}

footer{
  background:#666;
  color:white;
  font-weight:200;
  font-size:0.8rem;
  text-align:center;
  padding:5px;
  margin-top:auto;
  letter-spacing: 1px;
  a{
    color:#ddd;
  }
}
